:root {
  --mainTextColor: #fff;
  --secondaryTextColor: #f0f0f0;
  --mainLinkColor: #2196f3;
  --mainBorderColor: #2b3031;
  --mainBgColor: #24242e;
}

* {
  font-family: "Share Tech Mono", monospace;
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: var(--mainBgColor);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--mainLinkColor);
    border-radius: 10px;
    transition: 1s;
  }
  body {
    background-color: var(--mainBgColor);
  }
  
  p,
  span,
  li {
    color: var(--secondaryTextColor);
    font-size: 1em;
  }
  
  a {
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 900;
    transition: 0.2s;
  }
  
  a:hover {
      color: var(--mainTextColor);
  }
  
  li {
    line-height: 1.9em;
  }
  .back {
    margin-top: 60px;
  }
  #container--main {
    max-width: 700px;
    margin: 0 auto;
  }
  img{
    width: 560px;
  }
  .section--page {
    padding-bottom: 2em;
  }
  #socials--list {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
  }
  
  #socials--list a {
    font-size: 0.9em;
    transition: 0.3s;
  }
  
  #socials--list a:hover {
    color: var(--mainTextColor);
  }
  @media screen and (max-width:600px) {
    img{
      width: 400px;
    }
  }